*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-r: "Roboto", sans-serif;
  --ff-mmd: "Major Mono Display", monospace;

  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-orange: #d77647;
  --clr-purple-dark: #303145;
  --clr-purple-light: #8083ff;


  --fs-n: 1rem;
  --fs-s: calc(var(--fs-n) * 0.75);
  --fs-m: calc(var(--fs-n) * 1.125);
  --fs-l: calc(var(--fs-n) * 2);
  --fs-header: calc(var(--fs-n) * 2.25);
  --fs-el: calc(var(--fs-n) * 3);

  --fw-el: 100;
  --fw-l: 300;
  --fw-r: 400;
  --fw-m: 500;

  --spacer: 1rem;
  --spacer-xs: calc(var(--spacer) * 0.5);
  --spacer-s: calc(var(--spacer) * 0.75);
  --spacer-m: calc(var(--spacer) * 2);
  --spacer-l: calc(var(--spacer) * 3);

  --container-width: min(100vw, 1440px);

  --btn-border-radius: 100vmax;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-r);
}

@media (max-width: 576px) {
  :root {
    --fs-header: calc(var(--fs-n) * 1.75);
    --fs-el: calc(var(--fs-n) * 2);
    --spacer: .75rem;
  }
}
